/* PS3 TECHNOLOGY */

html {
	--main-bg-color: #f2f2f2;
	--sub-bg-color: #e2e2e2;
	--main-text-color: #111;
	--sub-text-color: #222;
	--theme-bg-color: #582012;
	--theme-text-color: #e71f1f;
	--theme-sub-text-color: #e68282;
}

@media (prefers-color-scheme: dark) {
html {
	--main-bg-color: #111;
	--sub-bg-color: #222;
	--main-text-color: #eee;
	--sub-text-color: #ddd;
	--theme-bg-color: #113341;
	--theme-text-color: #00b0c0;
	--theme-sub-text-color: #ade0e5;
	}
}

@media (prefers-color-scheme: light) {
	html {
	--main-bg-color: #f2f2f2;
	--sub-bg-color: #e2e2e2;
	--main-text-color: #111;
	--sub-text-color: #222;
	--theme-bg-color: #582012;
	--theme-text-color: #e71f1f;
	--theme-sub-text-color: #e68282;
	}
}

/* cores cores cores CORES */

body {
	margin: auto;
	padding: 1em;
	max-width: 46em;
	/*let's try something a bit different...*/
	/*font-family: "PT Serif", Georgia, "Times New Roman", serif;*/
	font-size: 18px;
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
	color: var(--main-text-color);
	background: var(--main-bg-color);
	word-wrap: break-word;
}

a {
	text-decoration: none;
	color: var(--theme-text-color);
	font-weight: bold;
}

a:hover, b {
	color: var(--theme-sub-text-color);
}

hr {
	border-color: var(--theme-sub-text-color);
}

h1, h2{
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
	color: var(--theme-text-color);
	text-align: center;
}

h3{
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: var(--theme-sub-text-color);
	padding-left: 20px;
}

header {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
	text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
	td {
		display: block;
	}
}
