/* PS3 TECHNOLOGY */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

/* fallback: dark theme */
html {
	--main-bg-color: #111;
	--sub-bg-color: #222;
	--main-text-color: #eee;
	--sub-text-color: #ddd;
	--theme-bg-color: #470B0B;
	--theme-text-color: #B31B1B;
	--theme-sub-text-color: #893C41;
}


/* Lucia for dark theme */
@media (prefers-color-scheme: dark) {
html {
	--main-bg-color: #111;
	--sub-bg-color: #222;
	--main-text-color: #eee;
	--sub-text-color: #ddd;
	--theme-bg-color: #470B0B;
	--theme-text-color: #B31B1B;
	--theme-sub-text-color: #893C41;
	}
}

/* Sophie for light theme */
@media (prefers-color-scheme: light) {
	html {
	--main-bg-color: #eee;
	--sub-bg-color: #ddd;
	--main-text-color: #111;
	--sub-text-color: #222;
	--theme-bg-color: #B894DB;
	--theme-text-color: #9966CC;
	--theme-sub-text-color: #5C2E8A;
	}
}

/* cores cores cores CORES */

body {
	margin: auto;
	padding: 1em;
	max-width: 46em;
	/*let's try something a bit different...*/
	/*font-family: "PT Serif", Georgia, "Times New Roman", serif;*/
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--main-text-color);
	background: var(--main-bg-color);
	word-wrap: break-word;
}

a {
	text-decoration: none;
	color: var(--theme-text-color);
	font-weight: bold;
}

a:hover, b {
	color: var(--theme-sub-text-color);
}

hr {
	border-color: var(--theme-sub-text-color);
}

h1, h2{
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--theme-text-color);
	text-align: center;
}

h3{
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--theme-sub-text-color);
	padding-left: 20px;
}

header {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
	td {
		display: block;
	}
}
